@model USDutyGear.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

@section styles
{
    @Styles.Render("~/Content/product")
}

<div class="row product">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Model.Category</li>
                <li>@Model.Name</li>
            </ol>
        </div>

        <div class="row">
            <!-- Image section -->
            <div class="col-lg-8 showcase">
                <div class="row main-image">
                    <!-- large image -->
                    <div class="col-lg-12">
                        <img alt="@Model.Name" data-bind="attr: { src: '/images/' + SelectedImage() + '_large.png' }" />
                    </div>
                </div>
                <div class="row image-previews">
                    <!-- small image row: foreach small images -->
                    @foreach (var i in Model.Images)
                    {<div class="col-lg-2 col-md-2 col-sm-2 preview"><img src="~/images/@(i)_small.png" alt="@(i)" onclick="ctrl.setSelectedImage('@i')" /></div>}
                </div>
            </div>
            <div class="col-lg-4 product-info">
                <h3 class="product-info-title">@Model.Name</h3>
                <div class="product-info-price" data-bind="text: Products[SelectedProductIndex].Price"></div>
                <hr />

                @if (Model.Finishes.Count > 0)
                {
                    <div class="product-finish">
                        <span>Finish: </span><span id="selectedFinish"></span>
                        <select data-bind="value: ctrl.selectedFinish">
                            @for (var i = 0; i < Model.Finishes.Count; i++)
                            {<option value="@Model.Finishes[i].Model" @(i == 0 ? "selected=\"selected\"" : "")>@Model.Finishes[i].Name</option>}
                        </select>
                        <!-- TODO: show the thumbnail here -->

                    </div>
                    <hr />
                }

                @if (Model.Sizes.Count > 0)
                {
                    <div class="product-finish">
                        <span>Size: </span><span id="selectedSize"></span>
                        <select data-bind="value: ctrl.selectedSize">
                            @for (var i = 0; i < Model.Sizes.Count; i++)
                            {<option value="@Model.Sizes[i].Model" @(i == 0 ? "selected=\"selected\"" : "")>@Model.Sizes[i].Name</option>}
                        </select>
                    </div>
                    <hr />
                }

                <div class="product-info">
                    Quantity: <input type="number" name="quantity" class="quantity" />
                    <button class="btn add-to-cart-btn">Add to Cart</button>
                </div>
                <hr />

                <div class="product-info">Description</div>
                <div class="product-info">
                    <ul>
                        @foreach (var detail in Model.Details)
                        {
                            <li>@detail</li>
                        }
                    </ul>
                </div>
                <hr />

                <div class="product-info">
                    @*Model @Html.DisplayFor(model => model.Model) &bull; @Html.DisplayFor(model => model.Sku)*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/__product.js"></script>
    <script type="text/javascript">
            ctrl.init(@Html.Raw(Json.Encode(@Model)));
    </script>
}