@model USDutyGear.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

@section styles
{
    @Styles.Render("~/Content/product")
}

<div class="row product">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Model.Category</li>
                <li>@Model.Name</li>
            </ol>
        </div>

        <div class="row">
            <!-- Image section -->
            <div class="col-lg-8 showcase">
                <div class="row main-image">
                    <!-- large image -->
                    <div class="col-lg-12">
                        <img alt="@Model.Name" data-bind="attr: { src: '/images/' + selectedImage + '_large.png' }" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 product-info">
                <h3 class="product-info-title">@Model.Name</h3>
                <div class="product-info-price" data-bind="text: '$' + totalPrice.toString()"></div>
                <hr />

                @if (Model.Finishes.Count > 0)
                {
                    <div class="product-finish">
                        <span>Finish: </span>
                        <select data-bind="options: Finishes,
                                           optionsText: 'Name',
                                           value: selectedFinish"></select>
                        <!-- TODO: show the thumbnail here -->
                    </div>
                    <hr />
                }

                @if (Model.Sizes.Count > 0)
                {
                    <div class="product-finish">
                        <span>Size: </span>
                        <select data-bind="options: Sizes,
                                           optionsText: 'Name',
                                           value: selectedSize"></select>
                    </div>
                    <hr />
                }

                @if (Model.Snaps.Count > 0)
                {
                    <div class="product-finish">
                        <span>Snap: </span>
                        <select data-bind="options: Snaps,
                                           optionsText: 'Name',
                                           value: selectedSnap"></select>
                    </div>
                    <hr />
                }

                <div class="product-info">
                    Quantity: <input type="number" name="quantity" class="quantity" />
                    <button class="btn add-to-cart-btn">Add to Cart</button>
                </div>
                <hr />

                <div class="product-info">Images</div>
                <div class="product-info">
                    <div class="row">
                        <!-- foreach goes here over the selected images -->
                        <div class="col-lg-6" data-bind="foreach: imageList">
                            <div class="thumbnail">
                                <img data-bind="attr: { src: '/images/' + $data + '_small.png', alt: $data }" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-info">Description</div>
                <div class="product-info">
                    <ul>
                        @foreach (var detail in Model.Details)
                        {
                            <li>@detail</li>
                        }
                    </ul>
                </div>
                <hr />

                <div class="product-info">
                    @*Model @Html.DisplayFor(model => model.Model) &bull; @Html.DisplayFor(model => model.Sku)*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/js/__product.js"></script>
    <script type="text/javascript">
            ctrl.init(@Html.Raw(Json.Encode(@Model)));
    </script>
}