@model USDutyGear.Models.ProductViewModel

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>
<hr />

<div class="row">
    <!-- Image section -->
    <div class="col-lg-8">
        <div class="row">
            <!-- large image -->
            <div class="col-lg-12">

            </div>
        </div>
        <div class="row">
            <!-- small image row: foreach small images -->
        </div>
    </div>
    <!-- product info -->
    <div class="col-lg-4">
        <div class="product-info product-info-title">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="product-info product-info-price">
            $@Html.DisplayFor(model => model.Price)
        </div>
        <hr/>
        <div class="product-info">
            <span>Selected finish: </span><span id="selectedFinish"></span>
            @foreach (var finish in Model.Finishes)
            {
                <a href="#" alt="@finish" class="@finish.Replace(" ", "")" onclick="productController.finishSelected(@finish)"></a>
            }
        </div>
        <hr />

        <!-- partial here for optional stuff: select size -->

        <div class="product-info">
            <button class="btn">Add to Cart</button>
        </div>

        <div class="product-info">Description</div>
        <hr />

        <div class="product-info">
            <ul>
                @foreach (var detail in Model.Details)
                {
                    <li>@detail</li>
                }
            </ul>
        </div>
        <hr />

        <div class="product-info">
            Model @Html.DisplayFor(model => model.Model) &bull; @Html.DisplayFor(model => model.Sku)
        </div>
    </div>
</div>
